

<h2>Manage your Transaction:</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
 <ul class="nav flex-column  nav-pills">
    <li  class="nav-link"><a asp-controller="Dashboard" asp-action="Index">Transaction</a></li>
    <li class="nav-link"><a  asp-page="">Trasfer Money</a></li>
    <li class="nav-link"><a asp-page="">Inventory</a></li>
</ul>
        </div>
        <div class="col-md-10">
          
        </div>
    </div>
</div>

