<h5>Welcome to Schedule:</h5>
<h3>Coming Soon!</h3>
<p>
    How to set a sell price or a buy price? In order to place such a trade follow ...
</p>
<p>
    Before placing the trade, we will send you a text message to ...
</p>