@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <div id="symbolInfoDiv"></div>
        <div id="priceDiv"></div>
        <div id="symbolChartDiv"></div>
    </div>
</div>

<div class="jumbotron  bg-secondary">
    <h2 class="display-4">Why Trade with Us?</h2>

    <div class="text-right" style="float: right;">
        <h4>Guest Login</h4>
        <p>Guest Email: guest@example.com</p>
        <p>Guest password: password</p>
    </div>

    <div class="lead ">
        <li class="">No Fees! Commission Free Trades</li>
        <li class="">3 month chart Price History for Technical Analysis</li>
        <li class="">We will fund a new account for $10,000.00</li>
        <li class="">It's Fantasy Money!</li>
    </div>

    <hr class="my-4">
    <div class="container text-center">
        <p class="lead"> Sign up for an account!</p>
        <a class="btn btn-primary btn-lg" href="~/Identity/Account/Login" role="button">Login</a>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
