@{
    ViewData["Title"] = "Home";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container text-center">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<form  asp-controller="Home" asp-action="Index" method="get">
    <div  class="text-danger" id="txtError"></div>
    <div class="form-group">
        <label for="SearchSymbol">Price Lookup: Enter a Ticker Symbol</label>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="GOOGL"  id="SearchSymbol" name="SearchSymbol">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" id="btnSymbol">Get Price</button>
  </div>
</div>
    </div>
</form>
  </div>
    <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col">
<div id="symbolInfoDiv"></div>
<div id="priceDiv"></div>
<div id="symbolChartDiv"></div>
</div>
</div>
</div>


<div class="jumbotron  bg-secondary">
  <h2 class="display-4">Why Trade with Us?</h2>
  
  <div class="lead ">
      <li class="">No Fees! Commission Free Trades</li>
      <li class="">3 month chart Price History for Technical Analysis</li>
      <li class="">We will fund a new account for $10,000.00</li>
      <li class="">It's Fantasy Money!</li>
  </div>
  <hr class="my-4">
  <div class="container text-center">
  <p class="lead"> Sign up for an account!</p>
  <a class="btn btn-primary btn-lg" href="~/Identity/Account/Login" role="button">Login</a>
  </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}