body {
    height: 100%;
    background-color: #044D60;
    color: #fff;
  }
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}
.navbar-brand{
    font-family: 'Rouge Script', cursive; 
  }
  .white .active a,
  .white .active a:hover {
      color:white;
  }